# Dependencies
**/node_modules/
**/.pnp
.pnp.cjs

# Build outputs
**/dist/
**/build/
**/.vite/
**/.cache/
**/coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/


